.container {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 600px;
    height: 450px;
    margin-left:  auto;
    margin-right: auto;
}

.current-image {
    border-radius: 0.5rem;
    box-shadow: 0px 0px 7px #666;
    width: 100%;
    height: 100%;
}

.arrow {
    position: absolute;
    width: 2rem;
    height: 2rem;
    color: #fff;
    filter: drop-shadow(0px 0px 5px #555);
    cursor: pointer;
}

.arrow-left {
    left: 1rem;

}

.arrow-right {
    right: 1rem;
}

.circle {
    display: flex;
    position: absolute;
    bottom: 1rem;
}

.current-circle {
    background-color: #ffffff;
    height: 15px;
    width: 15px;
    border-radius: 50%;
    border: none;
    outline: none;
    cursor: pointer;
    margin: 0 0.2rem;
}

.hide-image {
    display: none;
}

.inactive-circle {
    background-color: gray;
}